doctype html 
html
    head
            meta(charset="UTF-8")
            meta(name="viewport" content="width=device-width, initial-scale=1.0")
            meta(http-equiv="X-UA-Compatible" content="ie=edge")
            link(rel="icon" type="image/x-icon" href="icon.jpeg")
            title Ghiletofar Iceberg
            link(rel="stylesheet" href="style.css")
    body
        h1
            a(href="https://www.twitch.tv/ghiletofar" target="_blank") Ghiletofar Iceberg
        h2
            span.green Em Live 
            span.yellow Live/Offline
            span.red Offline

        .top
            ul
                each icebergTopic in topIcebergList 
                    li(class=icebergTopic.Category) #{icebergTopic.Name}
        .second
                each icebergTopic in secondIcebergList 
                    li(class=icebergTopic.Category) #{icebergTopic.Name}                   
        .third
                each icebergTopic in thirdIcebergList 
                    li(class=icebergTopic.Category) #{icebergTopic.Name} 
        .fourth
                each icebergTopic in fourthIcebergList 
                    li(class=icebergTopic.Category) #{icebergTopic.Name}
        .bottom
                each icebergTopic in bottomIcebergList 
                    li(class=icebergTopic.Category) #{icebergTopic.Name} 
html
